<h3>Upcoming Events:</h3>
<ul>
  <% @events.each do |event| %>
    <% if Date.parse(event.date).future? %>
      <li><%= link_to event.name, event %></li>
    <% end %>
  <% end %>
</ul>
<h3>Past Events:</h3>
<ul>
  <% @events.each do |event| %>
    <% if Date.parse(event.date).past? %>
      <li><%= link_to event.name, event %></li>
    <% end %>
  <% end %>
</ul>
